{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Notes</h1>
    <ul class="list-group" id="notes">
        {% for note in user_notes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ note.data }}
            <form method="POST" action="{{ url_for('views.delete_note', note_id=note.id) }}">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this note?');">
                    &times; <i class="bi bi-trash"></i>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <div class="form-group">
            <textarea name="note" id="note" class="form-control resizable-textarea" rows="3"></textarea>
        </div>
        <div class="text-center">
            <br />
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>
{% endblock %}
